{% extends "base.html" %}
{% block title %}{{SITENAME}}{%endblock%}
{% block body %}class="body-intro"{% endblock %}
{% block content %}
<div class="intro">
    Hello, I'm Stéphane.<br>
    I solve problems.
</div>

<div class="intro-articles">
    <ul>
    {% for article in articles_page.object_list %}
        <li>
            <div class="intro-article-date">{{ article.locale_modified }}</div>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
